   <%= render 'shared/second_header' %>
  <div class="talk-room">
      <h4 class="comment-index">"
        <%= link_to post_path(@post.id) do %>
          <%= @post.title %> "<% end %> TALK ROOM</h4> 
    <div class="comments">

      <div class="comments-all">
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p class="comment-context">
            <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>

            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
<%= render 'shared/footer' %>
