<header class="header-second">

   <div class='main-bar-contents'> 
    <p class="title">
    <%= link_to image_tag("header-logo.jpg", class:"site-icon"), "/" %> 


<%# 
    <li></li>
    <%# <li><%= link_to'チャットする', "#", class: 'chat-new'%>
    <%# <li></li>
  <%# </ul> %> 
    <div class="button-trigger", id="button-trigger">
<div class="avatar-nav", id="avatar-nav">
<div class="avatar">
  <% if current_user.avatar.attached? %>
  <%= image_tag(current_user.avatar, class:"avatar-image") %>  
  <% end %>  
  </div>
</div>

  <nav>
    <ul id="lists">
      <li>
        <%= link_to 'MY PAGE', user_path(current_user.id), id:'list' %>
      </li>
      <li>
        <%= link_to 'NEW DAIRY', new_post_path, id:'list' %>
      </li>
      <li>
        <a href="#">Works</a>
      </li>
      <li>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, id:'list' %>
      </li>
    </ul>
  </nav>
      </div>
</header>