<header class="header-second">

<div class="second-line">
      <div class="line-detail">
        <div class="top-icon">
          <%= link_to image_tag("header-logo.jpg", class:"site-icon"), posts_path %>
        </div>
      <div class="top-menu">
        <%= link_to 'ABOUT', "#", class:"about"%> 
        <%= link_to 'CONTACT', "#", class:"contact"%> 
        <%= link_to 'LANGUAGE', "#", class:"language"%>
      </div>
    

    <div class="button-trigger", id="button-trigger">
<div class="avatar-nav", id="avatar-nav">
<div class="avatar">
  <% if current_user.avatar.attached? %>
  <%= image_tag(current_user.avatar, class:"avatar-image") %>  
  <% end %>  
  </div>
</div>

  <nav>
    <ul id="lists">
      <li>
        <%= link_to 'My page', user_path(current_user.id), id:'list' %>
      </li>
      <li>
        <%= link_to 'New diary', new_post_path, id:'list' %>
      </li>
      <li>
        <%= link_to 'My memos', user_memos_path(current_user.id), id:'list' %>
      </li>
      <li>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, id:'list' %>
      </li>
      <li>
        <%= link_to 'Posts list', posts_path, id:'list' %>
      </li>
    </ul>
  </nav>
      </div>
    
    </div>
</header>