

  <div class="home-img" >
    <%= render 'shared/header' %>
  </div>
  <div class="main-view">
    <div class="phrase-box">
      <div class="phrase">
        TO POST
      </div>
      <div class="phrase">
        TO NETWORK
      </div>
    </div>
    
    <div class="get-user">
      <div class="user-top">


        <%= link_to 'SIGN IN', new_user_session_path, class: "login" %>

        <%= form_with(model: @user, url: session_path(resource_name), local: true) do |f| %>
        <div class="login-field">
          <div class="name-form">
            <div class="form-group">
              <%= f.label "Mail" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label "Password" %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <div class="form-group">


            <div class="actions">
              <%= f.submit "Log in", class:"submit-btn" %>
            </div>
          </div>
          <% end %>
        </div>

          <div class="join-us">
            <p class="sign-up-info">
              Don't have an account?
            </p>
            <%= link_to 'SIGN UP', new_user_registration_path, class: "sign-up" %>
          </div>
      
    </div>
  </div>