<%= render 'shared/second_header' %>

<div class="memo-top">
</div>
<div class="memo-all">
<%# タイトル表示 %>

<div class="title-block" id="title-block">
<% @memos.reverse_each do |memo| %>
  <div class="title-frame">
    <input id="memo-check-<%=memo.id%>" class="memo-check" type="checkbox">
    <label class="memo-label", for="memo-check-<%=memo.id%>"><%= memo.title%></label>
  </div>
  <div class="memo-content">
    <p><%= memo.content%></p>
  </div>
<% end %>
</div>


<div class="memo-right">
<%# メモ作成アイコン %>
<div class="memo-create-block">
<div class="memo-create">
<%=link_to "#" do%>
<%= image_tag "memo.png", class:"memo-icon" %>
<%= image_tag "pencil.png", class:"memo-icon" %>
<% end %>
</div>
</div>

<%# メモ作成フォーム %>
<div class="memo-form-block", id="memo-form-block">
<%= form_with(model: @memo, url: user_memos_path(current_user.id), local: true, id: "memo_area") do |f| %>
  <%= f.text_area :title, placeholder:"TITLE", class:"memo-text", id:"memo_title"%>
  <%= f.text_area :content, placeholder:"MEMO", class:"memo-text", id:"memo_content", rows: 6 %>
  <input type="submit" name="commit" value="NEW POST" class="memo-btn" id="memo-btn" >
<% end %>
</div>

</div>
</div>
